<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

    .section_guideline{
        padding-top: 160px;
    }

    .div_guideline{

    }

    .p_guideline_heading{
        font-size: 21px;
        font-weight: 600;
        color: rgb(93, 138, 222);
    }

    .p_guideline_content{
        font-size: 17px;
        font-weight: 550;
    }

    .num_guide{
        color: rgb(93, 138, 222);
    }

</style>

<section class="section_guideline container-fluid">
    <div class="div_guideline">
        <p class="p_guideline_heading">Maintainer abilities</p>
        <p class="p_guideline_content darkcolorchanger1">
            <span class="num_guide">1. </span>Maintainer can add, reorder, edit, and delete images in the gallery.<br>
            <span class="num_guide">2. </span>Maintainer can download the source code HBS file and resources of the main page for editing.<br>
            <span class="num_guide">3. </span>Maintainer can add resources or media for the main page content.<br>
            <span class="num_guide">4. </span>Maintainer can upload a new source code HBS file for the main page.<br>
            <span class="num_guide">5. </span>Maintainer should not disclose their password or username under any circumstances.<br>
            <span class="num_guide">6. </span>Maintainer should only perform activities after receiving a request from an admin.<br>
            <span class="num_guide">7. </span>Too many OTP attempts and incorrect passwords will disable the maintainer account.<br>
            <span class="num_guide">8. </span>Too many OTP attempts will disable the account for 1 hour.<br>
            <span class="num_guide">9. </span>Too many incorrect password attempts will disable the account for 24 hours.<br>
            <span class="num_guide">10. </span>Strict actions will be taken against the maintainer for any unwanted changes or edits made without admin consent.
        </p>
        <p class="p_guideline_heading" style="margin-top: 50px;">Important information to note</p>
        <p class="p_guideline_content darkcolorchanger1" style="margin-bottom:50px;">
            <span class="num_guide">1. </span>Maintainer should thouroughly check the hbs file before uploading.<br>
            <span class="num_guide">2. </span>Maintainer should can remove unwanted main page resource, but correct name with extension should be given.<br>
            <span class="num_guide">3. </span>Always prefer to compress image outside the portal and upload compressed image rather than relying on uploading with compression.<br>
            <span class="num_guide">4. </span>Always keep a backup copy of the hbs file and main page resource before editing.<br>
        </p>
    </div>
</section>
