<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

    .section_guideline{
        padding-top: 180px;
    }

    .div_guideline{

    }

    .p_guideline_heading{
        font-size: 21px;
        font-weight: 600;
        color: rgb(93, 138, 222);
    }

    .p_guideline_content{
        font-size: 17px;
        font-weight: 550;
    }

    .num_guide{
        color: rgb(93, 138, 222);
    }

</style>

<section class="section_guideline container-fluid">
    <div class="div_guideline">
        <p class="p_guideline_heading">Job portal</p>
        <p class="p_guideline_content darkcolorchanger1">Job portal allows you to view and apply for posted jobs. 
            Users have the option to request for the job. 
            To increase your chances of being selected, make sure to keep your profile up to date, 
            as your application will be scored based on your profile details. 
            Initially, jobs are recommended based on your profile, 
            but you can also sort and view jobs by posting time on the page.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Internship portal</p>
        <p class="p_guideline_content darkcolorchanger1">Internship portal is a place where you can view posted internship requests by user. 
            Initially jobs are requested on the basis of your profile. 
            So you need to update the profile upto date for best chance of reccomending your profile to alumni. 
            You can also sort the jobs based on time which can be seened on the page. 
            It is also important to upload your latest resume and a good profile picture.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Mentorship portal</p>
        <p class="p_guideline_content darkcolorchanger1">The Mentorship Portal is a platform where users can post questions and 
            receive answers from knowledgeable or experienced members. 
            Users can also reply to mentor responses, react to both questions and replies, 
            and edit or delete their own posts. 
            Additionally, the portal offers a search feature to find existing mentors.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Groupchat</p>
        <p class="p_guideline_content darkcolorchanger1">Groupchat provides a space for effective interaction with other users, 
            supporting both text messages and multimedia (images/videos). 
            Admins have the ability to delete inappropriate messages and take action against users who post them. 
            Additionally, admins can access a history of deleted messages for resolving any disputes.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Individual chat</p>
        <p class="p_guideline_content darkcolorchanger1">The individual chat feature allows users to send direct messages to others, 
            with notifications sent to all users involved. 
            It supports both text and multimedia messages (images/videos). 
            Users have the option to block others, preventing further messages from being sent. 
            Admins have access to deleted messages in the event of a dispute, 
            but can only view them with the consent of one participant, 
            with both users being notified of this action.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Search user/admin</p>
        <p class="p_guideline_content darkcolorchanger1">The search feature enables users to find other alumni or students with various filters. 
            You can search by name, location, work or expertise domains, pass-out year, 
            and perform filtered searches to find users meeting specific criteria.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Settings</p>
        <p class="p_guideline_content darkcolorchanger1">The settings feature lets you manage your profile by editing or updating it, 
            changing your password, blocking or reporting users, disabling your account, and contacting admin support. 
            Notifications will be sent to users when a password update is made.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Admin interaction</p>
        <p class="p_guideline_content darkcolorchanger1">Users can contact admin in two ways: 
            by sending queries or through direct chat. 
            Replies will be provided via the admin chat in both cases. 
            Admins also have the ability to broadcast messages to all users, 
            who will be notified of these messages. For any disputes, 
            users can directly contact the college administration.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Notification</p>
        <p class="p_guideline_content darkcolorchanger1">Notifications are received both on the website and via email. 
            Security notifications include alerts for password changes, 
            new job and internship updates, profile visitors, 
            new group chat and individual chat messages, admin messages, 
            broadcast messages, admin-viewed deleted chats with consent notifications, 
            mentor questions or replies, and updates on post comments and likes.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Profile / Account</p>
        <p class="p_guideline_content darkcolorchanger1">Each user has a profile which is categorized 
            either as alumni or student that can be edited and updated with personal information, 
            including experience, skills, and domains. Student account will automaticalle
            changed to alumni account after a specific time period. Alumni can add job listings, 
            while all users can apply for internships and manage their own job and internship requests.
            It is especially important for students to keep their profiles up to date, 
            as job and internship requests are sorted by profile details on the alumni side. 
            Other users can view your profile and choose to direct message, block, 
            or report you. Each user has the option to see their profile visitors. 
            Reporting someone will block their messages and prevent them from viewing your job and internship listings, 
            and vice versa. You can also disable your account, which will prevent access to your profile. 
            Admins have the authority to disable your profile if your activities are deemed conflicting or disturbing to other users. 
            Users have the option to recover account through registered mail.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Posting</p>
        <p class="p_guideline_content darkcolorchanger1">Each user can post content including videos, 
            images, or text. They can also comment on posts, like posts, and interact with comments and replies by liking them. 
            Alumni can post job listings, while all users can post internship requests. Disturbing comments, 
            replies, posts, job requests, and internship requests will be removed by admins, 
            who will also take further action as necessary.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">Login / Signup</p>
        <p class="p_guideline_content darkcolorchanger1">Only students and users of the College of Engineering Chengannur can create an account. 
            During account creation, users must provide their name and date of birth as registered with the college for verification purposes. 
            OTPs are sent to the registered email for both signup and login. Accounts can be recovered through the registered email. 
            Users will not be able to access the portal if their account is disabled by an admin or if they have disabled it themselves.
        </p>
    </div>
    <div class="div_guideline">
        <p class="p_guideline_heading">General guidelines and informations</p>
        <p class="p_guideline_content darkcolorchanger1">
            <span class="num_guide">1. </span>Disturbing actions from users may lead to account deletion or disabling. If an account is deleted, the user cannot sign up again and must contact the admin for assistance.<br>
            <span class="num_guide">2. </span>Admins can only view deleted private chats with consent from one of the participants after enabling a special access button in settings. This access will be automatically turned off after 24 hours.<br>
            <span class="num_guide">3. </span>Do not enable any access buttons unnecessarily.<br>
            <span class="num_guide">4. </span>In case of disputes with an admin regarding unauthorized viewing of deleted private chats, users can directly contact college administration.<br>
            <span class="num_guide">5. </span>Serious reports against users will be reviewed, and necessary actions will be taken.<br>
            <span class="num_guide">6. </span>Malicious activities will be automatically detected by the website.<br>
            <span class="num_guide">7. </span>The website monitors user activity except for private content to maintain high privacy levels.<br>
            <span class="num_guide">8. </span>This website is intended for maintaining a healthy connection between alumni and users, not as an active chatting or social media platform.<br>
            <span class="num_guide">9. </span>Excessive attempts to enter OTPs or invalid passwords will result in temporary access restrictions for security reasons.<br>
            <span class="num_guide">10. </span>No data will be leaked to others without user consent.<br>
            <span class="num_guide">11. </span>Data on the website will only be used for website improvement, college activities, or creating new connections between users.<br>
            <span class="num_guide">12. </span>Sensitive data such as passwords and chats will not be used by college authorities under any circumstances.<br>
            <span class="num_guide">13. </span>Accounts can be recovered using registered mail.<br>
            <span class="num_guide">14. </span>Admin can restrict a user from entering groupchat in-case of any dispute.<br>
            <span class="num_guide">15. </span>Too many OTPs and incorrect password blocks user profile for a time period.<br>
            <span class="num_guide">16. </span>A maximum of 3 OTP and 6 password attemps are allowed<br>
            <span class="num_guide">17. </span>Account will be disabled for 1 hour after too many OTPs and 12 hours for too many incorrect password<br>
        </p>
    </div>
</section>
