<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 420px;
    background-image: url('/images/logo_transparent1.png');
    background-size: 70% auto;
    background-position: center bottom 55%;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    body {
        background-image: url('/images/logo1.png');
        background-position: center bottom 40%;
    }
}

.centered_div_div {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}

.p_in_temp_login{
    font-weight: 600;
    color: rgb(93, 138, 222);
}

</style>

{{#if tomanyOTP}}
    <div class="centered_div_div">
        <p class="p_in_temp_login darkcolorchanger1">You had requested for too many otps. Please try again after {{minutesLeft}} minutes. </p>
    </div>
{{/if}}

{{#if tomanyOTPAfterHour}}
    <div class="centered_div_div">
        <p class="p_in_temp_login darkcolorchanger1">You had requested for too many otps. Please try again after an hour. </p>
    </div>
{{/if}}

{{#if tomanyincorrectPASSWORD}}
    <div class="centered_div_div">
        <p class="p_in_temp_login darkcolorchanger1">You had entered too many wrong passwords. Please try again after {{rem_incorrecect_pass_time}}</p>
    </div>
{{/if}}

{{#if toomany_signotp}}
    <div class="centered_div_div">
        <p class="p_in_temp_login darkcolorchanger1">You had requested too many OTP. Please try again <a style="color: red;" href="/signup">signup</a> once more</p>
    </div>
{{/if}}

{{#if toomany_recotp}}
    <div class="centered_div_div">
        <p class="p_in_temp_login darkcolorchanger1">You had requested too many OTP. Please try again after {{formattedRecTimestamp}}</p>
    </div>
{{/if}}