<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

    .section_guideline{
        padding-top: 160px;
    }

    .div_guideline{

    }

    .p_guideline_heading{
        font-size: 21px;
        font-weight: 600;
        color: rgb(93, 138, 222);
    }

    .p_guideline_content{
        font-size: 17px;
        font-weight: 550;
    }

    .num_guide{
        color: rgb(93, 138, 222);
    }

</style>

<section class="section_guideline container-fluid">
    <div class="div_guideline">
        <p class="p_guideline_heading">Superdmin abilities</p>
        <p class="p_guideline_content darkcolorchanger1" style="margin-bottom: 30px;">
            <span class="num_guide">1. </span>Superadmin can view admin logs.<br>
            <span class="num_guide">2. </span>Superadmin can view users deleted by admins.<br>
            <span class="num_guide">3. </span>Superadmin can view user status updates made by admins, with timestamps.<br>
            <span class="num_guide">4. </span>Superadmin can view deleted group chat messages viewed by admins, with timestamps.<br>
            <span class="num_guide">5. </span>Superadmin can view deleted private chat messages viewed by admins, with timestamps.<br>
            <span class="num_guide">6. </span>Superadmin can view jobs deleted by admins.<br>
            <span class="num_guide">7. </span>Superadmin can view internship requests deleted by admins.<br>
            <span class="num_guide">8. </span>Superadmin can view mentorship questions deleted by admins.<br>
            <span class="num_guide">9. </span>Superadmin can view mentorship replies deleted by admins.<br>
            <span class="num_guide">10. </span>Superadmin can view users added by admins.<br>
            <span class="num_guide">11. </span>Superadmin can view user profiles edited by admins.<br>
            <span class="num_guide">12. </span>Superadmin can view user profiles updated by admins.<br>
            <span class="num_guide">13. </span>Superadmin can view user passwords updated by admins.<br>
            <span class="num_guide">14. </span>Superadmin can view user logs viewed by admins.<br>
            <span class="num_guide">15. </span>Superadmin can view users restricted by admins.<br>
            <span class="num_guide">16. </span>Superadmin can view posts deleted by admins.<br>
            <span class="num_guide">17. </span>Superadmin can search users.<br>
            <span class="num_guide">18. </span>Superadmin can view admin deleted user records to allow deleted users to signup again.<br>
            <span class="num_guide">19. </span>Superadmin can change admin passwords only with admin consent.<br>
            <span class="num_guide">20. </span>Admins need to turn on the access button for power transfer, which will be automatically disabled after 24 hours.<br>
            <span class="num_guide">21. </span>Superadmin can block admin activities for 7 days.<br>
            <span class="num_guide">22. </span>Users who have disputes with an admin can directly contact the superadmin.<br>
            <span class="num_guide">23. </span>Too many OTPs and incorrect password blocks superadmin profile for a time period.<br>
            <span class="num_guide">24. </span>A maximum of 3 OTP and 3 password attemps are allowed<br>
            <span class="num_guide">25. </span>Account will be disabled for 1 hour after too many OTPs and 24 hours for too many incorrect password<br>
            <span class="num_guide">26. </span>Do not disclose username and password under any circumstances.
        </p>
    </div>
</section>
