<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

    body{
        margin-top: 180px;
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
    }

    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .recover{
        color: rgb(49, 86, 179);
        width:100%;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
        .recover{
            font-size: 14px;
        }
    }

    .btn_login{
        background-color: rgb(38, 82, 164);
        transition: background-color 0.3s ease;
        margin-top:10px;
        margin-bottom:10px;
        cursor: pointer;
        color:white
    }
    
    .btn_login:hover{
        background-color: rgb(123, 180, 230);
        color: white;
    }

    .btn_signup{
        /*background-color: rgba(142, 116, 57, 0.871);*/
        background-color:rgb(123, 180, 230);
        transition: background-color 0.3s ease;
        color: rgb(255, 255, 255);
        margin-top:10px;
        margin-bottom:10px;
        cursor: pointer;
    }

    .btn_signup:hover{
        background-color: rgb(38, 82, 164);
        color: white;
    }

    @media (max-width: 530px) {
        .btn_signup, .btn_login{
            padding: 10px;
        }
    }
    
</style>

<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <form action="/login" method="POST">
            {{#if LoginERROR}}
                <p class="error" style="color: red;">{{LoginERROR}}</p>
            {{/if}}
                <div class="form-group">
                    <input class="input_box" type="email" class="form-control" required name="Email" oninput="limitCharacters(this, 60);" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="input_box" type="password" class="form-control" required name="Password" oninput="limitCharacters(this, 100);" placeholder="Password">
                </div>
                <div>
                    <button type="submit" style="" class="btn input_box btn_login float-right darkcolorchanger2">Login</button>
                    <a href="/signup" class="btn  input_box btn_signup darkcolorchanger2" >Create new account</a>
                </div>
                <div style="margin-top:20px;margin-bottom:10px;" class="form-group">
                    <a href="/recoverpass"  class="recover darkcolorchanger1">Click here if you want to recover your account.</a>
                </div>
                
            </form>
        </div>
    </div>
</div>

<script>
  sessionStorage.clear();


    function limitCharacters(input, maxChars) {
        if (input.value.length > maxChars) {
            alert("You have reached the maximum allowed characters.");
            input.value = input.value.substring(0, maxChars);
        }
    }
</script>