<!-- 
Website developed by Anandhu Mohan for the Alumni Relations Cell of a college. 
Features include:
  - Job portal, Internship portal, Mentorship portal
  - Search functionality for users, students, and alumni
  - Group chat and private individual chat systems
  - Notification system and user profiles for each member
  - Admin panel to control the entire site, handle issues, and manage inquiries
  - Superadmin overseeing the activities of admins and users
  - Maintainer responsible for the main page content and styling, visible to users and external visitors
  - Advanced machine learning features that sort jobs and internships based on user profile preferences
  - Periodic email notifications and security enhancements
-->

<style>

   body {
        background-color: #ffffff;
        margin: 0;
        align-items: center;
        justify-content: center;
        background-image: url('/images/logo_transparent1.png');
        background-size: 80% auto;
        background-position: center bottom 60%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .advanceButton{
        margin-top: 15px;
        display: block;
        border-radius: 10px;
        font-size: 17px;
        padding: 14px;
        font-weight: bold;
        background-color: rgb(93, 138, 222);
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
        color: white;
    }

    .advanceButton:hover{
        background-color: rgb(123, 180, 230);
        color: white;
    }
    
    @media (max-width: 759px) {
        .advanceButton{
            font-size: 15px;
        }
    }

    @media (max-width: 500px) {
        .advanceButton{
            font-size: 15px;
            padding: 10px;
        }
    }

    .ad_mob_body{
        padding-top:180px;
    }

    @media (max-width: 1000px) {
        .ad_mob_body{
            padding-top: 120px;
        }
    }

  </style> 


<section class="ad_mob_body">
 <section class="container">
    <a href="/edit-profile" class="advanceButton btn  darkcolorchanger2" style="margin-top: 60px;">
        Edit profile
    </a>
    <a href="/update-profile" class="advanceButton btn  darkcolorchanger2">
        Update profile
    </a>
    <a href="/updatepass" class="advanceButton btn  darkcolorchanger2">
       Update password
    </a>
    <!--<a  onclick="confirmViewDeleteoneononechat()" class="advanceButton btn " style="color: #ffffff;">
        View deleted one on one chat messages
    </a>-->
    <a href="/delete_account" class="advanceButton btn  darkcolorchanger2">
       Delete account
    </a>
    <a href="/contact_admin" class="advanceButton btn  darkcolorchanger2">
       Contact admin
    </a>
    <a href="/block_user" class="advanceButton btn  darkcolorchanger2">
       Block user
    </a>
    <a href="/report_user" class="advanceButton btn  darkcolorchanger2">
       Report user
    </a>
    <a href="/user_guideline" class="advanceButton btn  darkcolorchanger2">
       user guidelines
    </a>
 </section>
 </section>


 <script>

    function confirmUpdatePassword() {
        var confirmResult = confirm("Are you sure you want to update the user password?");
        if (confirmResult) {
            // If the user clicks OK, redirect
            window.location.href = "/admin/update_password_user_admin";
        } else {
            // If the user clicks Cancel, do nothing
            return false;
        }
    }


    function confirmViewDeleteGroupchat() {
        var confirmResult = confirm("Are you sure you want to enter deleted group chat messages?");
        if (confirmResult) {
            // If the user clicks OK, redirect
            window.location.href = "/admin/view_deleted_group_chat_messages";
        } else {
            // If the user clicks Cancel, do nothing
            return false;
        }
    }


    function confirmViewDeleteoneononechat() {
        var confirmResult = confirm("Are you sure you want to enter deleted private chat messages?");
        if (confirmResult) {
            // If the user clicks OK, redirect
            window.location.href = "/admin/view_deleted_one_one_chat";
        } else {
            // If the user clicks Cancel, do nothing
            return false;
        }
    }
    
</script>
